@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.div_title {
    background: rgb(65,63,159);
    background: linear-gradient(90deg, rgba(65,63,159,1) 0%, rgba(0,0,0,1) 50%, rgba(198,69,252,1) 100%);
    padding: 35px 0px;
    outline: white 3px solid;
}

.title {
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-color: #090909;
}

.div_form {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

input {
    border: 0;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
    color: black;
}

form {
    position: relative;
    width: 40%;
    max-width: 100%;
    justify-content: center;
    border: groove 3px whitesmoke;
}

form button {
    position: absolute; /* EL ELEMENTO NO CUENTA, SE SUPERPONE */
    top: 2px;
    right: 2px;
    color: black;
    background-color: #7d7d7d;
    border: 0;
    font-size: 16px;
    padding: 13px 30px; 
}

button:active {
    transform: scale(0.95);
}

#result {
    background-color: rgb(193, 193, 193);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.hid {
    visibility: hidden;
}

.nothid {
    visibility: visible;
}

#tit {
    margin: 10%;
    font-size: 2rem;
    font-weight: bolder;
}

#image {
    width: 50%;
    height: auto;
    margin: 10% auto;
    border: 2px solid black;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    color: black;
    margin-bottom: 4%;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
    
}